Repository theta-tools/Theta-Tools, pull requests merged in 2020-10, with the labels that each got.

#6 IzMichael/Add-Discord
  README.md
  contributing.md
  discord/index.html
  index.html
Labels: Enhancement

#12 IzMichael/Fix-ContributingPage-Content
  contributing/index.html
Labels: Bug

#16 IzMichael/Fix-Docs-Usage
  docs/pages/getting started/usage.md
Labels: Documentation

#24 Add-LoginPage-Component.
  tools/components/Login Page A/README.md
  tools/components/Login Page A/component.html
  tools/components/Login Page A/documentation.md
  tools/components/Login Page A/metadata.md
Labels: New Component
